HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secrets ###
application-local.properties
### Local debug artifacts ###
*.class
*.log
*.trace.db
*.lock.db
*.bak
.DS_Store

### Pycache ###
__pycache__/
*.pyc
*.pyo
*.pyd

### venv ###
.venv/
__pycache__/
*.pyc
